Django==6.0.6
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.2
psycopg2-binary==2.9.12
python-decouple==3.8
scikit-learn==1.8.0
pandas==3.0.2
numpy==2.4.4
joblib==1.5.3
gunicorn==23.0.0
drf-yasg==1.21.10
